.newsDetails {
    a:hover {
        text-decoration: none;
        color: inherit;

    }
}



.newsCategories {
    border: 1px solid lightgray;
    border-radius: 5px;
    // padding: 20px;
    font-family: Nunito;
    .btn,.btn-link{
        &:hover {
            text-decoration: none !important;
            box-shadow: none !important;
        }
        &:active {
            outline: none !important;
            box-shadow: none !important;
        }
        &:focus {
            outline: none !important;
            box-shadow: none !important;
            text-decoration: none;
        }
    }
    .card {
        position: relative;
    }
    .card:hover {
        box-shadow: none;
    }

    .card-body>a::before{
        content: url(/images/newsDetails/tochka.png);
        position: absolute;
        left: 20px; 
        bottom: 23px;

        
    }
    li {
        list-style: none;
        a {
            font-weight: 700;
        }

    }
    button {
        a:hover {
        color: inherit;
    }

    a    {
        color: #010101;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 10px;
        line-height: 10px;
        text-align: left;
        /* Text style for "A, ll News" */
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        font-family: Nunito;

        &:hover {
            color: #ff771f;
            font-style: normal;
            letter-spacing: normal;
            
            text-decoration: none;
        }
    }
}



.newsTitle {
    /* Style for "What I'm r" */
   
    height: 53px;
    color: #222222;
    color: #2c2d3e;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    /* Text style for "W, hat I'm" */
    color: #222222;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.newsBody {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: left;
    color: #798795;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}


.tags   {
    border-radius: 7px;
    padding: 20px;
    border: 1px solid lightgray;
    .col:hover a {
        color: white;
    }
    
    .tagsBody .col:hover {
    background-color: orange;
}
}
// Quotes
.newsQuotes {
    border: 2px solid #ff771f;
    padding: 80px 80px 80px 50px;
    border-radius: 5px;
    position: relative;

    span {
        color: #000000;
        font-family: Nunito;
        font-size: 32px;
        font-weight: 100 ;

        letter-spacing: normal;
        line-height: 48px;

        @media (max-width:768px) {
            font-size: 22px;
        }
        @media (max-width:576px) {
            font-size: 18px;
        }
    }
    .hangouts {
        position: absolute;
        top: 15px;
        right: 30px;
    }

    .quotesOpen {
        font-family: Poppins;
        font-size: 72px;
        font-weight: 300;
        color: #ff771f;
    }
    .quotesClosed {
        display: block;
        transform: rotate(180deg) translate(5px,30px);
        font-family: Poppins;
        font-size: 72px;
        font-weight: 300;
        color: #ff771f;
          
    }
}


// Socials
.soc {
    i {
    font-size: 18px;
    }
    .facebook {
        color: #45619d;
    }
    .googlePlus {
        color: #cf4539;
    }
    .twitter {
        color: #42c0fb;
    }
    .skype {
        color: #009ee5;
    }
    .rss {
        color: #fd9f13;
    }
}

@media(max-width:768px){
    .test{
        flex-direction: column-reverse;
    }
}

}